.ltCont, .ltLayer { -moz-box-sizing: border-box; box-sizing: border-box; }

.ltCont, .ltLayer { position: absolute; top: 0; right: 0; left: 0; bottom: 0; }

.lightbox { display: none; }

.ltCont.close { display: none; }
.ltCont .lightbox_open { display: block; }

.ltLayer { background: #000; -moz-transition: opacity 0.3s; transition: opacity 0.3s; }
.ltLayer.open { opacity: 0.5; filter: alpha(opacity=50); }
.ltLayer.close { opacity: 0; filter: alpha(opacity=0); }

.flipOpen, .flipClose { -webkit-transform-origin: 50% 0 0; -moz-transform-origin: 50% 0 0; -ms-transform-origin: 50% 0 0; transform-origin: 50% 0 0; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: -webkit-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; }

.flipOpen { -webkit-transform: perspective(1300px) rotateX(0deg); opacity: 1; -webkit-transform: perspective(1300px) rotateX(0deg); -moz-transform: perspective(1300px) rotateX(0deg); transform: perspective(1300px) rotateX(0deg); opacity: 1; }

.flipClose { -webkit-transform: perspective(1300px) rotateX(-60deg); opacity: 0; -webkit-transform: perspective(1300px) rotateX(-60deg); -moz-transform: perspective(1300px) rotateX(-60deg); transform: perspective(1300px) rotateX(-60deg); opacity: 0; }
